body {
  padding-bottom: 20px;
}

.loading{
  position: relative;
  z-index: 50;
  width : 100%;
  height : 100%;
  top:0;
  left:0;
  padding:0;
  margin:0;
}

.loading #cover{
  background-color: #000;
  opacity: .8;
  width: 100%;
  height: 100%;
  position:fixed;
  z-index: -1;
}

.loading #logo{
  position:absolute;
  top: 250px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 50%);
}

.ouLogo{
  background: url('../images/OULogo.png') no-repeat;
  width: 224px;
  height: 44px;
}

.loading h3{
  text-align: center;
  color: #FFF;
}

.header {
  margin-bottom: 30px;
}

.jumbotron {
  border-bottom: 0;
}

#searchField{
  width:250px;
}

.table-container{
  overflow: auto;
  max-height:400px;
  min-height:75px;
}

footer {
  padding-left: 15px;
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
